.page-content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.recipe-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}



h1,
h2 {
    background-color: olive;
    color: whitesmoke;
    border-radius: 10px;
}

p,
ul,
ol {
    font-family: Tahoma, sans-serif;
    text-align: left;
}

.instructions {

}